body {
  padding-top: 50px;
  background: url('../img/background2.jpg');
  background-attachment: fixed;
  background-position: fixed;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.carousel {
	margin: 0 auto;
}

.item img{
	width: 100;
}

.content {
	color: #FFFFFF;
}

.content p {
	font-size: 18px !important;
}

.img-caption {
	padding-left: 10px;
}

#devlist {
	text-size: 30;
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.jumbotron {
	opacity:0.5;
	filter:alpha(opacity=50); /* For IE8 and earlier */
}

.jumbotron h1, .jumbotron p, .jumbotron h2, .jumbotron ul{
	opacity: 1.0;
	filter:alpha(opacity=100);
	font-weight: bold;
}

#abouttext{
	font-size: 14px;
}